---

const { target, lang, t, count } = Astro.props;

const active = target === lang
let className = active ? "disabled" : "enabled";
className = `target ${className}`;

---

<style>
.target {
  text-align: center;
  padding: 5px;
}

.target.enabled {
  text-decoration: underline;
  /*background: #b51;*/
  /*color: white;*/
}

.target.disabled {
  /*background: #ddd;*/
  /*color: #222;*/
}

</style>

{active
  ? <div class={className}>{t(target)} ({count})</div>
  : <a class={className} data-lang={target} href=`/blog/${target}/`>{t(target)} ({count})</a>
}
