---

import moment from 'moment';

import Head from '../components/Head.astro';
import i18n from '../utils/i18n.js';

import smallLogo from '../../public/images/logo-small.jpg';


const { post } = Astro.props;
const { title, lang, description, date, slug, category, twitter_text, content, image } = post;
const { html } = content;
const { t } = i18n(lang);

const permalink = Astro.site.origin + Astro.request.canonicalURL.pathname;
const categories = Array.isArray(category) ? category.join(',') : (category || '');
const twitterUrl = `https://twitter.com/intent/tweet?text="${twitter_text}" ${permalink} via @tadeuzagallo&hashtags=${categories}`;

---

<html {lang}>
	<head>
    <Head title={`${title} ${t('by')} Tadeu Zagallo`} type="article" {description} {image} />
		<link rel="stylesheet" href={Astro.resolve('../styles/code.css')} />

    <style>
      .wrapper {
        max-width: 1070px;
        margin-left: auto;
        margin-right: auto;
      }

      .content {
        padding: 40px 20px;
      }

      :global(a) {
        color: #b51;
        text-decoration: underline;
      }

      .header {
        text-align: center;
        margin-bottom: 30px;
      }

      .header p {
        color: #444;
      }

      .date-published {
        color: #555;
      }

      .share {
        text-align: center;
        margin: 40px 0;
      }

      .gohome, .share-button {
        background: #b51;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
      }

      .gohome {
        top: 20px;
        position: relative;
        text-decoration: none;
      }

      .share-button {
        border: 0;
        font-size: 20px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
      }

      .share-icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        fill: white;
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <a class='gohome' href="/blog/">{t('all posts')}</a>
      <div class='blog-post'>
        <header class="header">
          <h1>{title}</h1>
          <p class="desc">{description}</p>
          <time class='date-published' dateTime={moment(date).format('MMMM D, YYYY')}>
            {moment(date).format('D MMM YYYY')}
          </time>
        </header>

        <div class='blog-post-text'>
          {html}
        </div>

        <footer class='footer'>
          <section class="share">
            <button class="share-button" aria-label="Share on Twitter" title="Share on Twitter">
              <svg class="share-icon" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                <path d="M1684 408q-67 98-162 167 1 14 1 42 0 130-38 259.5t-115.5 248.5-184.5 210.5-258 146-323 54.5q-271 0-496-145 35 4 78 4 225 0 401-138-105-2-188-64.5t-114-159.5q33 5 61 5 43 0 85-11-112-23-185.5-111.5t-73.5-205.5v-4q68 38 146 41-66-44-105-115t-39-154q0-88 44-163 121 149 294.5 238.5t371.5 99.5q-8-38-8-74 0-134 94.5-228.5t228.5-94.5q140 0 236 102 109-21 205-78-37 115-142 178 93-10 186-50z"/>
              </svg>
              <span>Share on Twitter</span>
            </button>
          </section>

          <div id="disqus_thread"></div>

          <script data-title={title} data-slug={slug} data-permalink={permalink}>
            const { title, slug, permalink } = document.currentScript.dataset;
            var disqus_config = function () {
              this.page.title = title;
              this.page.identifier = slug;
              this.page.url = permalink; 
            };
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://tadeuzagallo.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
          </script>
          <script data-twitterurl={twitterUrl}>
            const { twitterurl } = document.currentScript.dataset;
            document.querySelector('.share-button').addEventListener('click', e => {
              e.preventDefault();
              window.open(twitterurl, 'twitter-share', 'width=800,height=800');
            });
          </script>
        </footer>
      </div>
    </div>
  </body>
</html>
